@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --font-size: 16px;
    font-size: var(--font-size);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  input::-ms-clear,
  input::-ms-reveal {
    display: none;
  }

  :root {
    --color-black: #000000;
    --color-gray-800: #61677A;
    --color-gray-600: #7B8298;
    --color-gray-300: #B3B3B3;
    --color-white: #FCFCFC;

    --color-blue-500: #1E91D6;
    --color-cyan-300: #87CEDB;
    --color-blue-50: #E3F1F9;

    --color-cream: #FFF6E0;

    --color-primary: var(--color-blue-500);
    --color-primary-hover: var(--color-cyan-300);
    --color-background: var(--color-white);
    --color-background-alt: var(--color-blue-50);
    --color-text-primary: var(--color-gray-800);
    --color-text-secondary: var(--color-gray-600);
  }
}