  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    html {
      --font-size: 14px;
      font-size: var(--font-size);
      font-family: 'Lato', 'Arial Narrow', Arial, sans-serif;
    }

    input::-ms-clear,
    input::-ms-reveal {
      display: none;
    }

    :root {
      --color-primary: #87CEDB;
      --color-secondary: #1E91D6;
      --color-text-primary: #000000;
      --color-text-secondary: #61677A;
      
      --color-hoverButton: ;
      --color-surface: #E3F1F9;
      --color-background: #FFF6E0;
    }

  }
    
    
